{
  "name": "#application#",
  "version": "#version#",
  "private": true,
  "ignore": [
    ".jshintrc",
    "**/*.txt"
  ],
  "dependencies": {
    "mobile-angular-ui": "*",
    "angular": "*",
    "angular-route": "*",
    "angular-resource": "*"
  },
  "devDependencies": {
    
  }
}