{
	"platforms": [
    "android"
	],
  	"plugins": [
  	"org.apache.cordova.camera",
  	"org.apache.cordova.geolocation",
    "https://github.com/EddyVerbruggen/SocialSharing-PhoneGap-Plugin.git"
  ],
  "application": "#application#",
  "description": "#description#",
  "id": "#id#",
  "version": "#version#",
  "author": "#author#",
  "email": "#email#",
  "url": "#url#",
  "keystore": "<fill in your keystore location>"
}